@font-face {
  font-family: 'Vazirmatn';
  src: url('./fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2'),
    url('./fonts/vazirmatn/Vazirmatn-Regular.ttf') format('truetype');
}

:root {
  font-family: 'Vazirmatn';
  direction: rtl;
}

a {
  text-decoration: none !important;
}